{% extends "layout.html" %}

{% block body %}
    <h1 class="text-center">Create an Account</h1>

    <h4 style="color:green" class="text-center">Account Successfully Created!</h4>

    <form action="/register" method="post" class="form-group">
      <label for="username">Username: </label>
      <input required name="username" id="username" type="text" class="form-control"><br>

      <label for="password">Password: </label>
      <input required name="password" id="password" type="password" class="form-control"><br>

      <label for="password">Confirm Password: </label>
      <input required name="confirm-password" id="confirm-password" type="password" class="form-control" oninput="checkMatching(this)"><br>

      <input type="submit" value="Create Account" class="btn btn-primary">
    </form>

    <div class="link-div">
      <p><a href="/..">Log In</a></p>
    </div>

    <script>
      function checkMatching(input){
        if(input.value != document.getElementById('password').value){
          input.setCustomValidity('Passwords must match!');
        } else {
          input.setCustomValidity('');
        }
      }
    </script>
{% endblock %}
